<% include partials/header %>
<h1>Con quanti chatbot hai dialogato questo mese?</h1>
<i class="fas fa-robot fa-7x"></i>
<div class="row">
		<div class="col-sm-12">
			<a href="hashtag" class="btn bg-white btn-lg btn-block">0</a>
			<a href="hashtag" class="btn bg-white btn-lg btn-block">1</a>
			<a href="hashtag" class="btn bg-white btn-lg btn-block">2-3</a>
			<a href="hashtag" class="btn bg-white btn-lg btn-block">più di 3</a>
		</div>
	</div>

<% include partials/footer %>