<% include partials/header %>
<h1>Come comunichi con i tuoi collaboratori?</h1>
<h5>Esprimi due preferenze</h5>
<div class="row">
	<div class="col comunication">
		<h5>Telefono</h5>
		<i class="fas fa-phone-alt fa-7x"></i>
	</div>
	<div class="col comunication">
		<h5>E-mail</h5>
		<i class="fas fa-envelope fa-7x"></i>
	</div>
</div>
<div class="row">
	<div class="col comunication">
		<h5>Chat</h5>
		<i class="fas fa-comments fa-7x"></i>
	</div>
	<div class="col comunication">
		<h5>Piattaforme collaborative</h5>
		<i class="fas fa-project-diagram fa-7x"></i>
	</div>
</div>
<% include partials/footer %>