<% include partials/header %>
	<h1>Quanti digital device possiedi?</h1>
	<p>Le icone rappresentano alcuni esempi</p>
	<div class="row">
		<div class="col-sm">
			<img src="images/smartphone.png">
			<p>Smartphone</p>
		</div>
		<div class="col-sm">
			<img src="images/tablet.png">
			<p>Tablet</p>
		</div>
		<div class="col-sm">
			<img src="images/smartwatch.png">
			<p>Smartwatch</p>
		</div>
		<div class="col-sm">
			<img src="images/laptop.png">
			<p>Laptop</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<a href="follower" class="btn bg-white btn-lg btn-block" >1</a>
			<a href="follower" class="btn bg-white btn-lg btn-block">2-3</a>
			<a href="follower" class="btn bg-white btn-lg btn-block">4-5</a>
			<a href="follower" class="btn bg-white btn-lg btn-block">più di 5</a>
		</div>
	</div>
	
<% include partials/footer %>