<% include partials/header %>
<h1>Quanti follower hai in totale?</h1>
<p>Le icone rappresentano alcuni esempi</p>
<div class="row">
	<div class="col-sm">
		<i class="fab fa-facebook-square fa-5x"></i>
		<p>Facebook</p>
	</div>
	<div class="col-sm">
		<i class="fab fa-instagram fa-5x"></i>
		<p>Instagram</p>
	</div>
	<div class="col-sm">
		<i class="fab fa-twitter-square fa-5x"></i>
		<p>Twitter</p>
	</div>
	<div class="col-sm">
		<i class="fab fa-pinterest-square fa-5x"></i>
		<p>Pinterest</p>
	</div>
</div>
<div class="row">
		<div class="col-sm-12">
			<a href="social"class="btn bg-white btn-lg btn-block">da 0 a 250</a>
			<a href="social"class="btn bg-white btn-lg btn-block">da 251 a 500</a>
			<a href="social"class="btn bg-white btn-lg btn-block">da 501 a 1000</a>
			<a  href="social"class="btn bg-white btn-lg btn-block">più di 1000</a>
		</div>
	</div>

<% include partials/footer %>