<% include partials/header %>
<h1>Quanti social usi per lavoro?</h1>
<p>Le icone rappresentano alcuni esempi</p>

<div class="row">
	<div class="col-sm">
		<i class="fab fa-tumblr-square fa-5x"></i>
		<p>Tumblr</p>
	</div>
	<div class="col-sm">
		<i class="far fa-comments fa-5x"></i>
		<p>Blog</p>
	</div>
	<div class="col-sm">
		<i class="fab fa-linkedin fa-5x"></i>
		<p>Linkedin</p>
	</div>
	<div class="col-sm">
		<i class="fab fa-youtube fa-5x"></i>
		<p>Youtube</p>
	</div>
</div>
<div class="row">
		<div class="col-sm-12">
			<a href="comunication" class="btn bg-white btn-lg btn-block">1</a>
			<a href="comunication" class="btn bg-white btn-lg btn-block">2-3</a>
			<a href="comunication"  class="btn bg-white btn-lg btn-block">4-5</a>
			<a href="comunication"  class="btn bg-white btn-lg btn-block">più di 5</a>
		</div>
	</div>
<% include partials/footer %>